.tech{
    background-color:$light;


    .grid-item{
        margin: auto;
        
        img{
            max-height: 100px;
            max-width: 100px
        }
    }

    .grid-container{
        display: grid;
        grid-row-gap: 15px;
        grid-template-columns:  repeat(auto-fit, minmax(130px, 1fr));
    }
}


@media only screen and (max-width: 1024px){
    .tech{
        h1{
            font-size: 3rem;
        }
    }
}