//colors standard
$dark: rgba(26, 26, 26,1);
$dark-transparent: rgba(26, 26, 26,0);

$light:#E8E8E6;
$brick: #731B0E;
$offWhite: #f2f2f2;
$creamcicle: #FF7A4F;
$flatblue: #004B63;
$teal: #30B8B2;

$light-slate: #A3BCBF;
$slate: #81A6A6;
$slate2: #496B73;
$slate3: #314E59;
$slate4: #213740;







//font sizes
$body-font-med: 1.125rem; //18px
$header-font-links: 0.875rem; //14px

//font family
$body-copy: 'Courier New', Courier, monospace;
$handWrite: 'Caveat', cursive;
$traditional: Verdana, Geneva, Tahoma, sans-serif;
$alt-copy: 'Alata', sans-serif;